/* --------------------------------
            VARIABLES
-------------------------------- */

//? variables background:
$primary: #00d9a6;
$secondary: #fff;
$tertiary: #000;
$footer: #00251c;

$gradient: linear-gradient(45deg, rgba(155,225,93,1) 25%, rgba(0,217,166,1) 100%);
$no-gradient: #9be15d;

//? elementi:
$table: #fff;
$btn: $gradient;


//? titoli:
$h_1: #00d9a6;
$h_2: #fff;
$h_3: #000;

//? bottoni CRUD:
$create: $no-gradient;
$edit: #ed9f31;
$delete: #f51a1a;


//? testi:
$text1: #000;
$text2: #fff;
$text3: #00d9a6;


//? shadow:
$shadow: #000;
$alpha: .3;

//? background color:
.color-text {color: $primary;}
.color-text2 {color: $secondary;}
.bg-footer {background-color: $footer;}
.bg-btn {background: linear-gradient(45deg, rgba(155,225,93,1) 25%, rgba(0,217,166,1) 100%);}

