/* --------------------------------
            VARIABLES
-------------------------------- */

//? variables background:
$primary: #00d9a6;
$secondary: #fff;
$tertiary: #000;


//? colore per bottoni:
// $gradient: rgb(155,225,93);
// background: linear-gradient(45deg, rgba(155,225,93,1) 25%, rgba(0,217,166,1) 100%); 


//? variables color text:


//? shadow:
$shadow: #000;
$alpha: .3;
