/* --------------------------------
*    HOME & MESSAGE & SERVICE
*       AD & VISUAL & USER
?            INDEX
-------------------------------- */
.home-index {


    .img-container {
        height: 200px;

        &:hover {
            transform: scale(1.02);
            transition: .45s;
        }
    }
}
